# ignore build files
/**/build/

#ignore user make configuration
sdkconfig

#ignore user make configuration backup
sdkconfig.old

#ignore eclipse files
.project
.cproject
.settings

#ignore vscode files
.vscode
